.grid-container {
    display: grid;  
    grid-template-columns: repeat(9, 1fr); /* 3 equal columns */
    gap: 0.6rem; /* Space between grid items */
}

.spillBokstaver img{
    width: 3%;
    height: auto;
}