.HangBertContainer {

}

.grid-container {
    display: grid;  
    grid-template-columns: repeat(9, 1fr); /* 3 equal columns */
    gap: 0.6rem; /* Space between grid items */
    padding: 5rem;
}

.spillBokstaver img{
    width: 6%;
    height: auto;
    margin: 1rem, auto, 1rem, auto;
}

.HangBertFlex {
    
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gameOverpic {
    width: 80%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}