.HangBertContainer {

}

.grid-container { 
    display: grid;  
    grid-template-columns: repeat(9, 1fr); /* ni kolonner */
    gap: 0.6rem; /* mellomrom mellom "tastene" */
    padding-left: 19rem; /* mellomrom mellom "tastaturet" og ytterkant av siden */
    padding-right: 19rem; 
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.spillBokstaver img{
    width: 6%;
    height: auto;
    margin: 1rem, auto, 1rem, auto;
}

.HangBertFlex {
    
}

.popupL, .popupW {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gameOverpic, .gameWonpic {
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}